{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block body %}

        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Header</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for header, value in headers.items() %}
            <tr>
              <th scope="row">{{ header }}</th>
              <td>{{ value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}
